NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=mapa_gasolineras_jalapa
DB_USER=jalapa_admin
DB_PASSWORD=CAMBIAR_POR_UNA_CLAVE_SEGURA
DB_SSL=false

DATABASE_URL=postgres://jalapa_admin:CAMBIAR_CONTRASENA@127.0.0.1:5433/mapa_gasolineras_jalapa

CLAVE_INICIAL_ADMIN=CAMBIAR_POR_UNA_CLAVE_DE_12_CARACTERES
CLAVE_INICIAL_GESTOR=CAMBIAR_POR_OTRA_CLAVE_DE_12_CARACTERES
